extends layout

block content
  
    div#app( v-if="isVueWorking" v-cloak )
      h1= title
      
      div(v-if="!submitted" v-cloak)
        p Search for gifs from Giphy!
        form( @submit.prevent="doSomething" )
          input( type="text" placeholder="Enter search term..." v-model="searchTerm" )  
          input( type="submit" value="Get Gifs from Giphy" )
        
      div(v-if="loading" v-cloak)
        p Loading... 
        
      div(v-if="error" v-cloak)
        p There was an error - check your network connection or enter a valid search term
      
      div(v-if="submitted" v-cloak)
        p  Here are 5 gifs for your search: "{{searchTerm}}"
        a(href="/") Search again
        div( v-for="gif in gifs" )
          p {{gif.title}}
          iframe( :src="gif.embed_url" )
        p #[strong Next steps will be to throw in Vee-Validate to prevent invalid search terms e.g. field left blank ]
